<p>Ask your coach anything</p>

<form action="/answer" data-turbo="false">
  <%# <form label="question">Ask your coach anything</label> %>
  <input id="question" type="text" name="question">
  <input type="submit" value="Ask!">
</form>
